.add-product {
    margin-bottom: 25px;
    padding-bottom: 25px;
    background-color: #fff;
}

.add-product .col {
    display: flex;
    align-items: center;
}

.add-product .form-label {
    margin-right: 20px;
    margin-bottom: 0;
}

.add-product {
    text-align: left;
}